// =======================================
// =            Breakpoints             =
// =======================================

$breakpoints: (
  xs: 26em,
  sm: 48em,
  md: 64em,
  mdl: 64.0625em,
  lg: 81em,
) !default;
