// =======================================
// =              Colors                 =
// =======================================

$white: white;
$black: #222;

$color-primary: #141414;
$color-secondary: #3D3D3D;
$gray-light: #929292;
$gray: #717171;
$accent: #3548D9;
$bg: #F7F7F7;
