// =======================================
// =            Typography               =
// =======================================

$system-fonts: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-text: 'Salvo', sans-serif;
$font-title: 'UntitledSerifWeb-Bold', serif;
$font-title-small: 'SalvoBold', sans-serif;

// Typography Weight
$regular: 400;
$semibold: 600;
$bold: 700;
