.post {
  display: flex;
  margin-bottom: rem(24);

  .date {
    margin-right: rem(18);

    @include breakpoint(md) {
      margin-right: rem(39);
    }

    .month {
      text-transform: lowercase;
    }
  }

  .content {
    .title {
      margin-bottom: rem(8);

      @include breakpoint(md) {
        margin-bottom: rem(33);
      }
    }
    
    .reading-time {
      text-transform: uppercase;
      font-size: rem(9);
      line-height: rem(13);
    }
  }
}