extends layouts/layout-primary

block content
  section.hero
    .container
      .row
        .col-md-8
          h1.title my name is karen
          .content I work to help get more girls into technology. I do so at AdaIT where I give an introduction to programming course to an audience that is 100% female. I did so too as a co-organizer of NodeConf in 2017 and I do every month as part of Meetup.js. I like developing ideas with social impact. I’m honored of being CTO at Nilus where we work to reduce food waste.

  section.body
    .container
      .row
        .col-md-4
          .social
            a(href='https://twitter.com/keyserfaty', target='blank')
              +svg('twitter')
            a(href='https://instagram.com/keyserfaty', target='blank')
              +svg('instagram')
            a(href='https://github.com/keyserfaty', target='blank')
              +svg('github')
            a(href='https://www.linkedin.com/in/keyserfaty/', target='blank')
              +svg('linkedin')

        .col-md-8
          .blog
            h4.title Medium
            .post-list 
              .post
                .date
                  h1.day 19
                  h2.month Nov
                .content
                  h1.title Cómo construir un producto y que lo use mucha gente
                  .reading-time 3 min read
                .active
              .post
                .date
                  h1.day 19
                  h2.month Nov
                .content
                  h1.title Cómo construir un producto y que lo use mucha gente
                  .reading-time 3 min read
              .post
                .date
                  h1.day 19
                  h2.month Nov
                .content
                  h1.title Cómo construir un producto y que lo use mucha gente
                  .reading-time 3 min read
              .post
                .date
                  h1.day 19
                  h2.month Nov
                .content
                  h1.title Cómo construir un producto y que lo use mucha gente
                  .reading-time 3 min read

