extends layouts/layout-primary

block content
  section.hero
    .container
      .row
        .col-md-8
          h1.title my name is karen
          .content I’m a member of the Harvard Innovation Lab and CTO of Nilus where we develop a technological solution to help reduce food waste and feed more people :) I’m also the co-founder of Sans Bureau and I work to help get more girls in technology organizing conferences and meetups.

  section.body
    .container
      .row
        .col-md-4
          .social
            a(href='https://twitter.com/keyserfaty', target='blank')
              +svg('twitter')
            a(href='https://instagram.com/keyserfaty', target='blank')
              +svg('instagram')
            a(href='https://github.com/keyserfaty', target='blank')
              +svg('github')
            a(href='https://www.linkedin.com/in/keyserfaty/', target='blank')
              +svg('linkedin')

        .col-md-8
          .blog
            h4.title Medium
            .post-list 
              

