.hero {
  margin-top: rem(218);
  margin-bottom: rem(160);

  @include breakpoint(md) {
    margin-top: rem(214);
    margin-bottom: rem(120);
  }

  .title {
    margin-bottom: rem(11);
  }
}

.body {
  margin-bottom: rem(24);

  .social {
    position: absolute;
    bottom: rem(24);
    width: rem(128);
    display: flex;
    justify-content: space-between;

    @include breakpoint(md) {
      position: relative;
    }
  }

  .blog {
    .title {
      margin-bottom: rem(24);

      @include breakpoint(md) {
        margin-bottom: rem(17);
      }
    }

    .post-list {
      margin-bottom: rem(144);

      @include breakpoint(md) {
        margin-bottom: 0;
      }

      .post {
        display: flex;
        margin-bottom: rem(24);

        .date {
          margin-right: rem(18);

          @include breakpoint(md) {
            margin-right: rem(39);
          }

          .month {
            text-transform: lowercase;
          }
        }

        .content {
          .title {
            margin-bottom: rem(8);

            @include breakpoint(md) {
              margin-bottom: rem(33);
            }
          }
          
          .reading-time {
            text-transform: uppercase;
            font-size: rem(9);
            line-height: rem(13);
          }
        }
      }
    }
  }
}