@import 'menu';

.hero {
  margin-top: rem(218);
  margin-bottom: rem(160);

  @include breakpoint(md) {
    margin-top: rem(214);
    margin-bottom: rem(120);
  }

  .title {
    margin-bottom: rem(11);
  }
}

.body {
  margin-bottom: rem(24);

  .social {
    position: absolute;
    bottom: rem(24);
    width: rem(128);

    @include breakpoint(md) {
      position: initial;
    }
  }

  .blog {
    > .title {
      margin-bottom: rem(24);

      @include breakpoint(md) {
        margin-bottom: rem(17);
      }
    }

    .post-list {
      margin-bottom: rem(144);

      @include breakpoint(md) {
        margin-bottom: 0;
      }
    }
  }
}